@model EMenuApplication.ViewModels.SurveyResult_VM

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="Dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a asp-action="List" asp-controller="Survey">Survey Results</a>
                        </li>
                        <li class="breadcrumb-item active">Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon fas fa-user"></i>
                                Basic info
                            </h3>
                        </div>
                        <div class="card-body">
                            @if (Model != null)
                            {
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">First Name ::</div>
                                            <div class="col-lg-6"><strong>@Model.FirstName</strong></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Last Name ::</div>
                                            <div class="col-lg-6"><strong>@Model.LastName</strong></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Gender ::</div>
                                            <div class="col-lg-6"><strong>@Model.Gender</strong></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Email ::</div>
                                            <div class="col-lg-6"><strong>@Model.Email</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Mobile ::</div>
                                            <div class="col-lg-6"><strong>@Model.Mobile</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Birthday ::</div>
                                            <div class="col-lg-6"><strong>@Model.Birthday</strong></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Nationality ::</div>
                                            <div class="col-lg-6"><strong>@Model.NationalityName</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">Country Of Residence ::</div>
                                            <div class="col-lg-6"><strong>@Model.CORName</strong></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        &nbsp;
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="nav-icon fas fa-file"></i>
                                Survey Details
                            </h3>
                        </div>
                        <div class="card-body">
                            @if (Model != null && Model.SurveyResultDeatils.Any())
                            {
                                @foreach (var details in Model.SurveyResultDeatils)
                                {
                                    <div class="row">
                                        <div class="col-lg-12">
                                            Q.<label>&nbsp; @details.Question</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            A.<label>&nbsp; @details.Answer  &nbsp;
                                            @if(details.AnswerText != null)
                                            {
                                                  <span>(@details.AnswerText)</span>
                                            }
                                            </label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>